
:root{
  --clr-primary-100: #ffffff;

  --clr-primary-200: #070023;
  --clr-primary-900: #000000;

}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
}

body{
  background-color: var(--clr-primary-900);
  border-image-repeat: repeat;
  background-size: 150%;
}


p{
  padding-bottom: .5rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--clr-primary-100);
  
}




model-viewer{
  width: 25rem;
  height: 50rem;
  margin: 0 auto;
  
}

h1{
  color: var(--clr-primary-100);
  text-align: center;
  padding: 1rem;
}





.menu-btn{
  width: 30px;
  
}

.menu-btn:hover{
 cursor: pointer;
}


.close-btn{
  width: 30px;
}


.navbar{
  background-color: var(--clr-primary-900);
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: .25rem 0;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
}
.navbar.sticky{
  background: var(--clr-primary-900);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  

}



.navbar .logo a{
  color: var(--clr-primary-100);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: var(--clr-primary-100);
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 2rem;
  text-decoration: none;
  transition: all 500ms;

    
}

.menu-list li a:hover{
  color: var(--clr-primary-100);
  opacity: 80%;
}

.spacer{
  height:5rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--clr-primary-100);
}


.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}




  
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }






  .media-scroller{
    --spacer: 1.5rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 89%;
    padding: var(--spacer) var(--spacer) var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    max-width: 100%;
    height: rem;
    background: var(--clr-primary-600);

    
  }
  
  /* Hides horizontal scroll-bar */
  .media-scroller::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  
  .media-element{
    text-align: center;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer );
    padding: 0;
    box-shadow: 0px .5rem .5rem rgba(0, 0, 0, .4);
   
   
  }
  
  .media-element > img{
    inline-size: 100%;
    height: 24rem;
    object-fit: cover;
    object-position: center;
    
 
 
    
   
  }
  


 
  
  .snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
    
  
  }
  
  .snaps-inline > * {
    scroll-snap-align: start;
  }
  
  
  
  







  




  .logo-image{
    width: 10rem;
    padding: .5rem;
    transition: opacity 500ms;
  }
   

  .header{
    background-color: var(--clr-primary-200);

  }







  
  @media (max-width: 1099px) {

   
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    width: 90%;
    max-width: 30rem;
    left: -100%;
    top: 0rem;
    display: block;
    padding: 3rem 0;
    text-align: left;
    padding-left: 2rem;
    transition: all 0.25s ease-in-out;
    background-color: var(--clr-primary-900);
    
    box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.4);

  }

 
  
  
  .navbar.show .menu-list{
    left: 0%;
    padding-bottom: 20rem;
  }
  .navbar .menu-list li{
    margin-top: 2rem;
  }
  .navbar .menu-list li a{
    font-size: 2rem;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  


  
  .navbar.show .menu-list li a{
    margin-left: 0rem;
  }







  }




  

/* Desktop CSS Below */


@media (min-width: 1100px) {

  .menu-btn, .close-btn{
    display: none;
  }


.menu-list li a:hover{
    color: var(--clr-primary-900);
    transition: all 500ms;
    

  }
}






